.popup__error {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  min-height: 12px;
  box-sizing: border-box;
  min-width: 164px;
  opacity: 0;
}
